.main-container {
  position: fixed;
  top: 2vh;
  left: 0;
  width: 100vw;
  height: calc(100% - 2vh);
  background: #161616;
  background-image:
    linear-gradient(to right, #1f1f1f 1px, transparent 1px),
    linear-gradient(to bottom, #1f1f1f 1px, transparent 1px);
  background-size: 150px 150px;
  border: none;
  border-radius: 0;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-container {
    width: 100vw;
    height: calc(100% - 2vh);
    background-size: 80px 80px;
    /* ← AGREGADO: Grilla más pequeña en móvil */
  }
}